body{
    background-color: blueviolet;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    background-color: black;
}

.links {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkblue;
}
a{
    color: wheat;
}

.musicBtn{
    text-align: center;
}